* {
  box-sizing: border-box;
}

body {
  font-size: 0;
  background-image: url('../images/tomato-red-silhouette.svg');
  background-size: 100%;
  height: 100vh;
}

footer {
  font-size: medium;
}

#app-container {
  font-size: medium;
  text-align: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.pomBackground {

}

.theFinal {
  position: absolute;
  bottom: 40%;
  left: 37%;
}

.theFinal p {
  color: gold;
  text-shadow: black 2px 2px;
  font-size: 100px;
}

#ongoing {
  color: #000;
  width: 100%;
  font-weight: bold;
  font-size: 25px;
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  bottom: 37%;
  left: 0;
}

.inputBar {
  width: 100%;
  background-color: #fff;
  display: inline-block;
  padding: 25px;
  border: 0px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.inputBar input {
  width: 70%;
  height: auto;
  margin: 0px;
  padding: 2px;
  border-style: none;
  border-bottom: 3px solid black;
}

.smash_me{
  background-color: #06c;
  margin: 0px;
    border: none;
    color: #fff;
    padding: 5px 45px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.smash_me i {

}

.comp {
  color: turquoise;
  font-weight: bold;
  font-size: 25px;
}
